@using Microsoft.AspNetCore.Identity
@using Taxtation.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div style="margin-left:40%;margin-top:20px;">
        <img src="~/images/purchase.gif" />
    </div>
    <div style="margin-left:40%;margin-top:180px;">
        <ul class="nav navbar-nav">
            <li>
                <a asp-action="showPurchase" asp-controller="Transaction" class="w3-bar-item w3-button" style="color:#E1BE5C"><img src="~/images/purchases.png" class="ImgStyleMain" style="background-color:#E1BE5C;" /><br /> PURCHASE<br /> DETAIL</a>
            </li>
            <li>
                <a asp-action="showDebitNote" asp-controller="Transaction" class="w3-bar-item w3-button" style="color:#E1BE5C"><img src="~/images/note.png" class="ImgStyleMain" style="background-color:#E1BE5C;" /><br />DEBIT NOTE</a>
            </li>
        </ul>
    </div>
}

