@using Microsoft.AspNetCore.Identity
@using Taxtation.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<div style="margin-left:40%;margin-top:20px;">
    <img src="~/images/setups.gif" />
</div>
<div style="margin-left:0%;align-items:center;justify-content:center;display: flex; margin-top:180px;">
    <ul class="nav navbar-nav">
        <li>
            <a asp-action="showCurrency" asp-controller="Setup" class="w3-bar-item w3-button" style="color:#C78ECC"><img src="~/images/accounting.png" class="ImgStyleMain" style="background-color:#C78ECC;" /><br /> CURRENCY</a>
        </li>
        <li>
            <a asp-action="showStore" asp-controller="Setup" class="w3-bar-item w3-button" style="color:#48C7C8"><img src="~/images/store.png" class="ImgStyleMain" style="background-color:#48C7C8;" /><br /> STORE</a>
        </li>
        <li>
            <a asp-action="showBank" asp-controller="Setup" class="w3-bar-item w3-button" style="color:#E1BE5C"><img src="~/images/bank.png" class="ImgStyleMain" style="background-color:#E1BE5C;" /><br /> BANK</a>
        </li>
        <li>
            <a asp-action="showTax" asp-controller="Setup" class="w3-bar-item w3-button" style="color:#55C77E"><img src="~/images/tax.png" class="ImgStyleMain" style="background-color:#55C77E;" /><br /> TAX</a>
        </li>
        <li>
            <a asp-action="showCustomer" asp-controller="Setup" class="w3-bar-item w3-button" style="color:#EA70B1"><img src="~/images/crm.png" class="ImgStyleMain" style="background-color:#EA70B1;" /><br /> CUSTOMER</a>
        </li>
        <li>
            <a asp-action="showSupplier" asp-controller="Setup" class="w3-bar-item w3-button" style="color:#51CFFF"><img src="~/images/crm.png" class="ImgStyleMain" style="background-color:#51CFFF;" /><br /> SUPPLIER</a>
        </li>
        <li>
            <a asp-action="showItem" asp-controller="Setup" class="w3-bar-item w3-button" style="color:#3498DB"><img src="~/images/item.png" class="ImgStyleMain" style="background-color:#3498DB;" /><br /> ITEM</a>

        </li>
        <li>
            <a asp-action="showSite" asp-controller="Setup" class="w3-bar-item w3-button" style="color:#f97177"><img src="~/images/site.png" class="ImgStyleMain" style="background-color:#f97177;" /><br /> SITE</a>

        </li>
    </ul>
</div>
}

