@model Taxtation.Models.TxsbankDetail

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Bank Detail</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("Bank", "Setup", FormMethod.Post))
    {
                    <div>
                        <input type="text" asp-for="BnkId" class="form-control" hidden="hidden" />
                    </div>
                    <div>
                        Name:
                        <input type="text" asp-for="BnkName" class="form-control" required="required" />
                        @Html.CheckBox("BnkActive", Model.BnkActive.Value)Active
                    </div>
                    <div>
                        Abbriviation:
                        <input type="text" asp-for="BnkAbbr" class="form-control" required="required" />
                    </div>
                    <div>
                        Bank Branch:
                        <input type="text" asp-for="BnkBranch" class="form-control" required="required" />
                    </div>
                    <div>
                        Acc. No:
                        <input type="text" asp-for="BnkAccNo" class="form-control" required="required" />
                    </div>
                    <div>
                        Phone No:
                        <input type="text" asp-for="BnkPhNo" class="form-control" required="required" />
                    </div>
                    <div>
                        Fax:
                        <input type="text" asp-for="BnkFax" class="form-control" required="required" />
                    </div>
                    <div>
                        URL:
                        <input type="url" asp-for="BnkUrl" class="form-control" required="required" />
                    </div>
                    <div>
                        Email:
                        <input type="email" asp-for="BnkEmail" class="form-control" required="required" />
                    </div>
                    <div>
                        Description:
                        <input type="text" asp-for="BnkDesc" class="form-control" />
                    </div>

                    <br />
                    <div>
                        @if (ViewData["_Save"].ToString() == "True")
    {
                    <button type="submit" name="Save" id="Save" value="Save" style="background-image:url(../images/button/Save.png)" class="btnControlDML">Save</button>
}
                        @if (ViewData["_Update"].ToString() == "True")
    {
                    <button type="submit" name="Update" id="Update" value="Update" style="background-image:url(../images/button/Update.png)" class="btnControlDML">Update</button>
}
                        <button type="button" id="btnHideModal" data-dismiss="modal" class="btnControlDML" style="float:right;background-image:url(../images/button/Clear.png)">
                            Hide
                        </button>
                    </div>
}
                    </div>

                        

                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
