@using Microsoft.AspNetCore.Identity
@using Taxtation.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <ul class="nav navbar-nav">
        <li>

            <button class="w3-button w3-xlarge" style="color:white;" onclick="w3_open()"><img src="~/images/menu.png" style="width:40px;" /></button>
            <div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="display:none;z-index:3;" id="mySidebar">
                <a asp-area="" asp-controller="Manage" class="w3-bar-item w3-button" asp-action="Index" style="background-color:lightgray;color:black;" title="Manage">Hello @UserManager.GetUserName(User)!</a>

                <button class="w3-bar-item w3-button w3-large" style="text-align:right;" onclick="w3_close()"><img src="~/images/cross.png" style="width:30px;" /></button>
                <a asp-action="Dashboard" asp-controller="Home" class="w3-bar-item w3-button" style="color:#EF6E64"><img src="~/images/dsh.png" class="ImgStyle" style="background-color:#EF6E64;" /> DASHBOARD</a>
                <a asp-action="Setup" asp-controller="Home" class="w3-bar-item w3-button" style="color:#55C77E"><img src="~/images/setups.png" class="ImgStyle" style="background-color:#55C77E;" /> SETUPS</a>
                <a asp-action="Sale" asp-controller="Home" class="w3-bar-item w3-button" style="color:#EA70B1"><img src="~/images/sale.png" class="ImgStyle" style="background-color:#EA70B1;" /> SALES</a>
                <a asp-action="Purchase" asp-controller="Home" class="w3-bar-item w3-button" style="color:#E1BE5C"><img src="~/images/purchase.png" class="ImgStyle" style="background-color:#E1BE5C;" /> PURCHASES</a>
                <a asp-action="Index" asp-controller="Manage" class="w3-bar-item w3-button" style="color:#48C7C8"><img src="~/images/crm.png" class="ImgStyle" style="background-color:#48C7C8;" /> USERS</a>
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <button type="submit" style="color:#EF6E64" class="w3-bar-item w3-button"><img src="~/images/Logoff.png" class="ImgStyle" style="background-color:#EF6E64;" /> LOG OUT</button>
                </form>

            </div>
            <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
        </li>
    </ul>
   
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}

<script>
    function w3_open() {
        debugger;
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        debugger;
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

        //function myFunction() {
        //    var x = document.getElementById("myDIV");
        //    if (x.style.display === "none") {
        //        x.style.display = "block";
        //    } else {
        //        x.style.display = "none";
        //    }
        //}
</script>